body {
  background: url(assets/images/bg_image1.png);
  min-height: 100vh;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background: url('https://source.unsplash.com/1600x800/?travel,adventure') center/cover no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
}

.text-shadow {
  text-shadow: 2px 2px 8px black;
  font-size: 1.3rem;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.fixed-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
